body {
	font-family: Helvetica, sans-serif;
	background-color: #1D1D1D;
	color: white;
}

nav {
	display: flex;
	gap: 15px;
}

nav a {
	text-decoration: none;
	background-color: cornflowerblue;
	color: white;
	padding: 15px 10px;
	border-radius: 25px;
	font-weight: bold;
}