button {
	padding: 15px 10px;
	font-weight: bold;
	border: none;
	border-radius: 25px;
	margin: 5px;
}

button:hover {
	transform: scale(1.05);
}

button:active {
	transform: scale(0.9);
}

.add-button {
	background-color: lime;
}

.rem-button {
	background-color: red;
	color: #EEE;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

main > div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
}