body {
	margin: 0;
	background-color: #1D1D1D;
	font-family: Helvetica, sans-serif;
}

header {
	margin: 25px;
}

a {
	background-color: cornflowerblue;
	padding:  15px 10px;
	text-decoration: none;
	color: white;
	border-radius: 25px;
	font-weight: bold;
	margin: 10px;
}